html,
body {
    background-image: url(../img/cudi.jpg);
    background-attachment: fixed;
    height: 100%;
    /* Asegúrate de que ocupen toda la altura de la ventana */
    margin: 0;

}

/* Asegura que el body ocupe el 100% de la altura de la ventana */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Contenedor principal para centrar el contenido */
.iframe-container {
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Clase para que el video sea responsivo */
.ratio-16x9 {
    width: 100%;
    max-width: 800px;
    /* Tamaño máximo del video */
    aspect-ratio: 16 / 9;
    /* Relación de aspecto */
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}