<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alumnos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icono.png') }}" sizes="32x32">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <h1 class="titulo_alumnos">Listado de Alumnos</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="boton_agregar_alumno">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Agregar
            alumno</button>
    </div>
    <div class="table-responsive">

        <table class="table table-bordered border-secondary table-striped">
            <thead class="table-light">
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>

                    <th>Fecha Nacimiento</th>
                    <th>Genero</th>

                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr class="">
                    <td>{{ alumno[0] }}</td>
                    <td>{{ alumno[1] }}</td>
                    <td>{{ alumno[2] }}</td>
                    <td>{{ alumno[3] }}</td>
                    <td>{{ alumno[4] }}</td>

                    <td class="botones_jugadores">
                        <button title="Editar Alumno" type="button" class="btn btn-warning edit-btn" data-toggle="modal"
                            data-target="#editModal" data-id_alumno_dni="{{ alumno[0] }}" data-nombre="{{ alumno[1] }}"
                            data-apellido="{{ alumno[2] }}" data-fecha_nacimiento="{{ alumno[3] }}"
                            data-genero="{{ alumno[4] }}">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button title="Borrar Alumno" type="button" class="btn btn-danger delete-btn ms-2"
                            data-toggle="modal" data-target="#deleteModal" data-id="{{ alumno[0] }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <button title="Inscribir a Materia" type="button" class="btn btn-success ms-2 btnInscribir"
                            data-toggle="modal" data-target="#inscribirModal" data-dni="{{ alumno[0] }}" id="dniAlumno"
                            value="{{ alumno[0] }}" data-nombre_alumno="{{ alumno[1 ]}} {{ alumno[2] }}">
                            <i class="fa-solid fa-school-circle-check fa-beat-fade"></i>
                        </button>


                        <!--  <button data-bs-toggle="modal" data-target="#confirmDeleteModal" data-id="{{ alumno[0] }}"
                            class="btn btn-danger delete-btn ms-1"><i class="fa-solid fa-trash-can"></i>
                        </button> -->

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para editar el alumno -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Editar Alumno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="edit-nombre">DNI</label>
                            <input type="text" class="form-control" name="id_alumno_dni" id="edit-id_alumno_dni"
                                minlength="7" maxlength="9" pattern="^\d{7,9}$"
                                title="El DNI debe contener entre 7 y 9 dígitos numéricos">
                        </div>

                        <div class="form-group">
                            <label for="edit-nombre">Nombre</label>
                            <input type="text" class="form-control" id="edit-nombre" name="nombre" maxlength="30"
                                minlength="2" pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+$"
                                title="El nombre solo puede contener letras y espacios, y debe tener como máximo 30 caracteres.">
                        </div>
                        <div class="form-group">
                            <label for="edit-apellido">Apellido</label>
                            <input type="text" class="form-control" id="edit-apellido" name="apellido" maxlength="30"
                                minlength="2" pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+$"
                                title="El nombre solo puede contener letras y espacios, y debe tener como máximo 30 caracteres.">
                        </div>

                        <div class="form-group">
                            <label for="edit-fecha_nacimiento">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="edit-fecha_nacimiento" name="fecha_nacimiento"
                                min="1924-01-01" max="2007-12-31">
                        </div>
                        <div class="form-group">
                            <label for="edit-genero">Género</label>
                            <select class="form-control" id="edit-genero" name="genero" required>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="NB">No Binario</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal para agregar un nuevo alumno -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addForm" action="/alumnos/add" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Agregar Alumno</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="add-id_alumno_dni">DNI</label>
                            <input type="text" class="form-control" id="add-id_alumno_dni" name="id_alumno_dni" required
                                minlength="7" maxlength="9" pattern="^\d{7,9}$"
                                title="El DNI debe contener entre 7 y 9 dígitos numéricos">
                        </div>
                        <div class="form-group">
                            <label for="add-nombre">Nombre</label>
                            <input type="text" class="form-control" id="add-nombre" name="nombre" required
                                maxlength="30" minlength="2" pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+$"
                                title="El nombre solo puede contener letras y espacios, y debe tener como máximo 30 caracteres.">
                        </div>
                        <div class="form-group">
                            <label for="add-apellido">Apellido</label>
                            <input type="text" class="form-control" id="add-apellido" name="apellido" maxlength="30"
                                minlength="2" pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+$"
                                title="El apellido solo puede contener letras y espacios, y debe tener como máximo 30 caracteres."
                                required>
                        </div>

                        <div class="form-group">
                            <label for="add-fecha_nacimiento">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="add-fecha_nacimiento" name="fecha_nacimiento"
                                min="1924-01-01" max="2007-12-31" required>
                        </div>
                        <div class="form-group">
                            <label for="add-genero">Género</label>
                            <select class="form-control" id="add-genero" name="genero" required>
                                <option value="" disabled selected>Selecciona el género</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="NB">No Binario</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar Alumno</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación de Eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar este alumno?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal para mostrar las materias no inscritas -->
    <div class="modal fade" id="materiasModal" tabindex="-1" aria-labelledby="materiasModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="materiasModalLabel">Materias no inscritas</h5>
                    <!-- Botón para mostrar el modal con materias no inscritas -->
                    <button id="botonMostrarMaterias" class="btn btn-primary">Mostrar Materias</button>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="materiasList"></ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para inscripción -->
    <div class="modal fade" id="inscribirModal" tabindex="-1" aria-labelledby="inscribirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('cursos.inscribir') }}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="inscribirModalLabel">Inscribir en una Materia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Campo oculto para el DNI del alumno -->
                        <input type="text" id="alumnos_id_alumno_dni" name="alumnos_id_alumno_dni" readonly>
                        <input type="text" id="nombre_alumno" name="nombre_alumno" readonly>
                        <input type="hidden" id="estado" name="estado" value="regular">
                        <div class="form-group">
                            <label for="materia">Seleccionar Materia</label>
                            <select class="form-control" id="materia" name="materias_id_materia">
                                <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Inscribir</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/inscripcion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alumnos.js') }}"></script>


    {% endblock content %}
</body>

</html>