<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h4 class="text-center mt-5">Iniciar Sesión</h4>

                <!-- Mostrar mensajes flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="mt-3">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <!-- Formulario de inicio de sesión -->
                <form method="POST" action="{{ url_for('main.login') }}" class="mt-4">
                    <div class="form-group">
                        <label for="username">Usuario:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                </form>

                <!-- Botón para abrir el modal de registro -->
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registerModal">
                        Registrarse
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Registro -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ url_for('main.registro') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="reg-username">Usuario:</label>
                            <input type="text" class="form-control" id="reg-username" name="username" maxlength="20"
                                minlength="4" required>
                        </div>

                        <div class="form-group">
                            <label for="reg-password">Contraseña:</label>
                            <input type="password" class="form-control" id="reg-password" name="password" maxlength="20"
                                minlength="4" required>
                        </div>
                        <div class="form-group">
                            <label for="reg-role">Rol:</label>
                            <select class="form-control" id="reg-role" name="role" required>
                                <option value="invitado">Invitado</option>
                                <option value="user">Usuario</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>